<%- layout('Layout') -%>
<%- include Includes/Header %>
<script>
    var projectIsCreated = <%= isCreated %>;
</script>
<iframe id='live-view' src='/Live-View'></iframe>

<div class='editor-panel' id='CSS-Panel'>
    <div class='editor-titlebar'>
        <span class='window-title'>CSS Editor</span>
        <ul class='buttons'>
            <li title='Close'>&nbsp;</li>
            <li title='Minimise'>&nbsp;</li>
            <li title='Maximise'>&nbsp;</li>
        </ul>
    </div>
    <pre id='css-Editor'><%= CSS %>
</pre>
</div>

<div class='editor-panel selected-panel' id='HTML-Panel'>
    <div class='editor-titlebar'>
        <span class='window-title'>HTML Editor</span>
        <ul class='buttons'>
            <li title='Close'>&nbsp;</li>
            <li title='Minimise'>&nbsp;</li>
            <li title='Maximise'>&nbsp;</li>
        </ul>
    </div>
    <pre id='html-Editor'><%= escape(HTML) %>
</pre>
</div>